$surface-lvl-0__100__dark: #121212;

$header-background__dark: #333;
$header-navigation-text-color__initial__dark: #fff;
$header-navigation-text-color__hover__dark: #ddd;

$color-text-initial__100__dark: #414141;

$theme-color: #{75, 146, 251};