@font-face {
  font-family: 'Poppins-Black';
  src: url('/assets/fonts/Poppins-Black.ttf') format('ttf'),
  url('/assets/fonts/Poppins-Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-BlackItalic';
  src: url('/assets/fonts/Poppins-BlackItalic.ttf') format('ttf'),
  url('/assets/fonts/Poppins-BlackItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('/assets/fonts/Poppins-Bold.ttf') format('ttf'),
  url('/assets/fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url('/assets/fonts/Poppins-BoldItalic.ttf') format('ttf'),
  url('/assets/fonts/Poppins-BoldItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('/assets/fonts/Poppins-ExtraBold.ttf') format('ttf'),
  url('/assets/fonts/Poppins-ExtraBold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  src: url('/assets/fonts/Poppins-ExtraBoldItalic.ttf') format('ttf'),
  url('/assets/fonts/Poppins-ExtraBoldItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('/assets/fonts/Poppins-ExtraLight.ttf') format('ttf'),
  url('/assets/fonts/Poppins-ExtraLight.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraLightItalic';
  src: url('/assets/fonts/Poppins-ExtraLightItalic.ttf') format('ttf'),
  url('/assets/fonts/Poppins-ExtraLightItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url('/assets/fonts/Poppins-Italic.ttf') format('ttf'),
  url('/assets/fonts/Poppins-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('/assets/fonts/Poppins-Light.ttf') format('ttf'),
  url('/assets/fonts/Poppins-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-LightItalic';
  src: url('/assets/fonts/Poppins-LightItalic.ttf') format('ttf'),
  url('/assets/fonts/Poppins-LightItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('/assets/fonts/Poppins-Medium.ttf') format('ttf'),
  url('/assets/fonts/Poppins-MediumItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('ttf'),
  url('/assets/fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('/assets/fonts/Poppins-SemiBold.ttf') format('ttf'),
  url('/assets/fonts/Poppins-SemiBold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  src: url('/assets/fonts/Poppins-SemiBoldItalic.ttf') format('ttf'),
  url('/assets/fonts/Poppins-SemiBoldItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('/assets/fonts/Poppins-Thin.ttf') format('ttf'),
  url('/assets/fonts/Poppins-Thin.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ThinItalic';
  src: url('/assets/fonts/Poppins-ThinItalic.ttf') format('ttf'),
  url('/assets/fonts/Poppins-ThinItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

