$surface-lvl-0__100__light: #fff;

$header-background__light: #fff;
$header-navigation-text-color__initial__light: #fff;
$header-navigation-text-color__hover__light: #ddd;

$color-text-initial__100__light: #414141;

$theme-color: #{75, 146, 251};