<div class="login--wrapper">
  <form class="sign-up">
    <div class="sign-up-row row-1">
      <h1>Welcome to Login Page</h1>
      <h3>Already have an account? <span>Log in</span></h3>
    </div>
    <div class="sign-up-row row-2">
      <label for="sign-up-email">Email</label>
      <mat-form-field>
        <input matInput id="sign-up-email">
      </mat-form-field>
    </div>
    <div class="sign-up-row row-3">
      <label for="sign-up-password">Password</label>
      <mat-form-field>
        <input matInput  id="sign-up-password">
      </mat-form-field>
    </div>
    <div class="sign-up-row row-4"></div>
    <div class="sign-up-row row-5"></div>
    <div class="sign-up-row row-6"></div>
    <div class="sign-up-row row-7"></div>
  </form>
  <div class="sign-in">
    <img src="assets/images/login.png">
  </div>
</div>
